*{
    padding: 0;
    margin: 0;
}

body {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
}


/*********************Global Text/Padding/Margin Styles*/

h1,h2,h3,h4{
    margin: 0;
}

.uppercase{
    text-transform: uppercase;
}


/*********************Heading*/
.navbar {
    margin-bottom: 0;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #35424a;
    border: 0;
    border-bottom: #e8491d 3px solid;
}

.navbar-default .navbar-collapse {
    border-color: transparent;
}

.navbar-default .navbar-toggle {
    border: 0;
}

.navbar-default .navbar-toggle:hover {
    background-color: transparent;
}

.navbar-default .navbar-toggle .icon-bar {
    background-color: white;
}

.navbar .navbar-brand {
    font-weight: bold;
    color: white;
}

.navbar .navbar-brand:hover {
    color: #e8491d;
}

.navbar-default .navbar-nav a {
    font-weight: bold;
}

.navbar-default .navbar-nav>.active>a,
.navbar-default .navbar-nav>.active>a:focus,
.navbar-default .navbar-nav>.active>a:hover {
    color: #e8491d;
    background: transparent;
}

.navbar-default .navbar-nav > li > a{
    color: #fff;
}

.navbar-default .navbar-nav>li>a:focus,
.navbar-default .navbar-nav>li>a:hover {
    color: #e8491d;
}

ul li i{
    padding-right: 6px;
    font-size: 30px;
}

/*********************Home Page - Jumbotron*/

.jumbotron{
    background: url("../assets/images/monkees.jpg") no-repeat center center;
    background-size: cover;
    background-position-y: 10px;
    color: #fff;
    text-align: center;
    margin: 0;
    padding: 10px;
    letter-spacing: 2.5px;
    height: 500px;
    position: relative;
}

.call-out-overlay{
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.1);
    z-index: 1;
}

.jumbotron .call-out-overlay h1{
    padding-top: 200px;
    font-weight: bold;
    font-size: 46px;
    color: white;
}

.jumbotron .call-out-overlay p{
    color: white;
    font-size: 26px;
    padding: 10px 5px;
}


/*********************Home Page - Three Callouts*/

.three-props-wrapper{
    /* background-color: #CD0F30; */
    /* background-color: #36454f; */
    background: -webkit-linear-gradient(to right, #0f2027, #203a43, #2c5364); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #0f2027, #203a43, #2c5364);
    padding-top: 20px;
    padding-bottom: 70px;
}

.three-props-wrapper .three-props-item{
    text-align: center;
    color: #fff;
    font-family: 'Roboto', sans-serif;
}

.three-props-wrapper .three-props-item h2{
    font-weight: 400;
    letter-spacing: 2.5px;
    font-size: 22px;
}

.three-props-wrapper .three-props-item p{
    font-weight: 100;
    font-size: 15px;
    padding: 10px;
}

.three-props-wrapper .three-props-item i{
    display: block;
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 50px;
}

/*********************Footer*/

footer{
    background-color: #35424a;
    color: #fafafa;
    min-height: 50px;
    margin: 0;
}

.social-links{
    padding-bottom: 15px;
}

.social-links li a i{
    width: 32px;
    height: 32px;
    padding: 12px 0;
    border-radius: 50%;
    font-size: 13px;
    line-height: 7px;
    text-align: center;
    color: #fafafa;
    background: #8f8f8f;
    transition: all 0.35s ease-in-out;
    -webkit-transition: all 0.35s ease-in-out;
    -moz-transition: all 0.35s ease-in-out;
}

.social-links li a i:hover{
    background: #e8491d;
}

#footer-details{
    margin: 15px;
}

#footer-text{
    font-size: 14px;
}

