*{
    padding: 0;
    margin: 0;
}

body {
    font-family: 'Roboto', sans-serif;
}

/*********************Heading*/
.navbar {
    margin-bottom: 0;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1;
    background-color: rgba(0, 0, 0, 1);
    border: 0;
}

.navbar-default .navbar-collapse {
    border-color: transparent;
}

.navbar-default .navbar-toggle {
    border: 0;
}

.navbar-default .navbar-toggle:hover {
    background-color: transparent;
}

.navbar-default .navbar-toggle .icon-bar {
    background-color: white;
}

.navbar .navbar-brand {
    font-weight: bold;
    color: white;
}

.navbar .navbar-brand:hover {
    color: red;
}

.navbar-default .navbar-nav a {
    font-weight: bold;
}

.navbar-default .navbar-nav>.active>a,
.navbar-default .navbar-nav>.active>a:focus,
.navbar-default .navbar-nav>.active>a:hover {
    color: red;
    background: transparent;
}

.navbar-default .navbar-nav > li > a{
    color: #fff;
}

.navbar-default .navbar-nav>li>a:focus,
.navbar-default .navbar-nav>li>a:hover {
    color: red;
}

ul li i{
    padding-right: 6px;
    font-size: 30px;
}

/**********************Jumbotron*/

.jumbotron{
    background: url("../assets/images/monkees.jpg") no-repeat center center fixed;
    background-size: cover;
    background-position-y: 10px;
    color: #fff;
    text-align: center;
    margin: 0;
    padding: 10px;
    letter-spacing: 2.5px;
    height: 500px;
    position: relative;
}

.call-out-box{
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}

.jumbotron .call-out-box h1{
    padding-top: 160px;
    font-weight: bold;
    font-size: 46px;
    color: white;
}

.jumbotron .call-out-box p{
    color: white;
    font-size: 26px;
    padding: 10px 5px;
}

